<%= form_with model: entity, url: user_group_entities_path(current_user, @group), html: { style: "height:100%" } do |f| %>
  <div class="flex flex-col justify-between" style="height: 39.375rem">
    <% if entity.errors.any? %>
      <div id="error_explanation" class="px-3 py-2 mt-3 font-medium text-red-500 rounded-lg bg-red-50">
        <h2><%= pluralize(entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

        <ul>
          <% entity.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <div>
    <div class="pt-6">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "name",
      class: "w-full mb-2" 
      %>
    </div>

    <div class="">
      <%= f.number_field :amount, autofocus: true, autocomplete: "amount", placeholder: "amount",
      class: "w-full" 
      %>
    </div>

    <div>
        <%= f.hidden_field :group_id,  value: @group.id %>

        <%= f.collection_check_boxes(:group_ids, current_user.groups, :id, :name) do |b| %>
        <div class="flex flex-row items-center text-center">
          <%= b.check_box(class: "ml-4") %>
          <%= b.label(class: "ml-4") %>
        </div>
      <% end %>
    </div>

    <%= f.hidden_field :author_id, value: current_user.id%>

  </div>
    <div class="flex flex-row items-center justify-center w-full py-2 text-center bg-green" style="border-bottom-left-radius:2rem; border-bottom-right-radius:2rem">
      <%= f.submit  "Create Transaction", class: "py-3 px-5 bg-blue-600 text-white block font-medium border py-4 px-20" %>
    </div>
  </div>

<% end %>
