<%= form_with model: @group, url: user_groups_path   do |f| %>
  <% if group.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "name", class: "w-full mb-2"  %>
  </div>

  <div class= "grid grid-cols-3 gap-4 place-items-center border-b-2">
    <% @icons_array.each do |icon| %>
      <div class="w-50 object-contain flex flex-row justify-center  items-center">
        <%= f.radio_button 'icon', icon[:url], class: "ml-4" %>
        <%= image_tag(icon[:url], class: "max-h-10 ml-4") %>
      </div>
    <% end %>
  </div>

  <div class="w-full flex flex-row text-center justify-center items-center bg-green py-2 fixed bottom-0 left-0 right-0">
    <%= f.submit class: "py-3 px-5 bg-blue-600 text-white block font-medium border py-4 px-20" %>
  </div>
<% end %>
