<%= form_with model: @group, url: user_groups_path, html: { style: "height:100%" }   do |f| %>
  <% if group.errors.any? %>
    <div id="error_explanation" class="px-3 py-2 mt-3 font-medium text-red-500 rounded-lg bg-red-50">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="flex flex-col justify-between" style="height: 39.375rem">
  <div class="" style="padding-top: 1rem">
    <div class="">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "name", class: "w-full" %>
    </div>

    <div class= "grid grid-cols-3 gap-4 border-b-2 place-items-center">
      <% @icons_array.each do |icon| %>
        <div class="flex flex-row items-center justify-center object-contain w-50">
          <%= f.radio_button 'icon', icon[:url], class: "ml-4" %>
          <%= image_tag(icon[:url], class: "max-h-10 ml-4") %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="flex flex-row items-center justify-center w-full py-2 text-center bg-green" style="border-bottom-left-radius:2rem; border-bottom-right-radius:2rem">
    <%= f.submit class: "py-3 px-5 bg-blue-600 text-white block font-medium border py-4 px-20" %>
  </div>
</div>

<% end %>
