<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex items-center justify-center">
    <main class="">
    <% if current_user %>
     <div class="z-10" style="position:absolute; top: 1rem; right: 1.875rem;">
        <%= button_to(
          image_tag("power.png", class:"max-h-6"),
          destroy_user_session_path,
          method: :delete,
        ) %>
      </div>
    <% end %>
      <%= yield %>
    </main>
  </body>
</html>
<style>
body {
  height: 100%;
}
main {
  position: relative;
  width: 25rem;
  border: 2px solid #e2e8f0;
  rounded: 0.5rem;
  height: 100vh;
  min-height: 43rem;
  max-height: 43rem;
  margin-top: 2rem;
  border-radius: 2rem
}
</style>
