<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-wull">
    <main class="bg-light_grey h-full sm:p-4 min-h-[650px] sm:min-h-[772px]">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= button_to(
        "Log Out",
        destroy_user_session_path,
        method: :delete,
      ) %>
      <%= yield %>
    </main>
  </body>
</html>
